<div th:fragment="footer">
    <footer class="p-footer-custom">
        <div class="xb-footer--wrapper">
            <div class="footer-section">
                <h4>Documentation</h4>
                <ul>
                    <li><a href="#">API Docs</a></li>
                    <li><a href="#">Java Docs</a></li>
                    <li><a href="https://github.com/Despical/PurchaseChecker">Source Code</a></li>
                    <li><a href="https://github.com/Despical/PurchaseChecker/blob/main/LICENSE">License</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Donations</h4>
                <ul>
                    <li><a href="https://buymeacoffee.com/despical">Buy Me a Coffee</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Links</h4>
                <ul>
                    <li><a href="https://github.com/Despical">GitHub</a></li>
                    <li><a href="https://discord.gg/uXVU8jmtpU">Discord</a></li>
                    <li><a href="https://youtube.com/@mrdespical/">Youtube</a></li>
                    <li><a href="https://spigotmc.org/resources/authors/615094/">SpigotMC</a></li>
                    <li><a href="https://builtbybit.com/creators/257098">BuiltByBit</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-line"></div>
        <p class="copyright-message">Copyright 2025 © Berke Akçen. All rights reserved.</p>
    </footer>
</div>
