<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despical's Purchase Checker</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>

<div th:replace="~{fragments/header::navbar}"></div>

<main>
    <h1 class="error-title">Hmm, I think we have some problems.</h1>
    <div class="blockMessage">
        <p class="error-text" th:text="${errorMessage != null ? errorMessage : 'The requested page could not be found.'}"></p>
        <p class="error-text" th:if="${errorTime != null}" th:text="'The error occurred at ' + ${errorTime} + '.'"></p>
    </div>
</main>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>